# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
*.db
*.db-shm
*.db-wal
*.opendb
CGProject2/.vs/CGProject2/v16/ipch/AutoPCH/e0199d1c530271e4/CGPROJECT2.ipch
